body{
    font-family: cursive,Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(13, 81, 148);
    color: #fff;
}

.light{
    cursor: pointer;
    width: 80px;
    height: 33px;
    padding-top: 13px;
    padding-bottom: 7px;
    background-color: white;
    color: #00aaff;
    text-align: center;
    float: inline-end;
    transition: background-color 0.3s ease;
}

.dark{
    cursor: pointer;
    width: 80px;
    height: 33px;
    padding-top: 13px;
    padding-bottom: 7px;
    background-color: black;
    color: #00aaff;
    text-align: center;
    float: inline-end;
    transition: background-color 0.3s ease;
}

#Mode{
    display: none;
}

input[type="checkbox"]:checked ~ header{
    background-color: #00aaff;
    color: rgb(13, 81, 148);
}

input[type="checkbox"]:checked ~ footer{
    background-color: #00aaff;
    color: rgb(13, 81, 148);
}

input[type="checkbox"]:checked ~ main{
    background-color: #fff;
}

input[type="checkbox"]:checked ~ header nav ul li a:hover {
    color: rgb(13, 81, 148);
}

input[type="checkbox"]:checked ~ footer .semi h1 {
    color: rgb(13, 81, 148);
}

input[type="checkbox"]:checked ~ footer p{
    color: black;
}

input[type="checkbox"]:checked ~ footer .semi{
    border-color: black;
}

input[type="checkbox"]:checked ~ main .paragraph div h1 {
    color: rgb(13, 81, 148);
}

input[type="checkbox"]:checked ~ main .paragraph {
    background-color: #00aaff;
}

input[type="checkbox"]:checked ~ main #home h1 {
    color: rgb(13, 81, 148);
}

input[type="checkbox"]:checked ~ main #home p {
    color: #00aaff;
}

input[type="checkbox"]:checked ~ main .invites .profile-box {
    background-color: #00aaff;
}

input[type="checkbox"]:checked ~ main .invites .profile-box h3{
    color: rgb(13, 81, 148);
}

input[type="checkbox"]:checked ~ main .mmt {
    color: rgb(13, 81, 148);
}

input[type="checkbox"]:checked ~ main #activities .container .col-lg-4 .custom-card .badge {
    background-color: #00aaff;
}

input[type="checkbox"]:checked ~ main #activities .container .col-lg-4 .custom-card {
    background-color: #00aaff;
}

input[type="checkbox"]:checked ~ main #activities .container .col-lg-4 .custom-cardd {
    background-color: #00aaff;
}

header{
    display: flex;
    gap: 300px;
    align-items: center;
    color: #00aaff;
    padding: 10px 20px;
    background: #1a1a1a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo span{
    margin-right: 5px;
}

.logo img{
    margin-left: -3px;
    width: 24px;
    height: 24px;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    color: #fff;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: #00aaff;
}

main{
    text-align: center;
    padding: 50px 20px;
    background-color: #0a0a0a;
}

#home{
    margin-bottom: 150px;
}

h1{
    font-size: 36px;
    margin-bottom: 20px;
    color: #00aaff;
}

h3{
    color: #00aaff;
}

p{
    font-size: 18px;
}

a{
    color: #00aaff;
    text-decoration: none;
}

.paragraph{
    width: 96%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: black;
}

.first{
    width: 450px;
    height: 480px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    float: inline-start;
}

.second{
    width: 450px;
    height: 480px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    float: inline-end;
}

.text{
    width: 55%;
    height: 500px;
    display: inline-block;
}

.text p{
    text-align: left;
    font-size: 20px;
    text-indent: 20px;
}

div#home{
    height: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #00aaff;
    text-align: center;
}

.invites{
    height: 300px;
    margin-top: 45px;
    margin-bottom: 100px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.profile-box{
    width: 275px;
    height: 215px;
    border-radius: 30px;
    margin-top: 50px;
    box-shadow: 3px 3px 5px gray,-3px -3px 5px gray;
}

.personne{
    height: 105px;
    width: 105px;
    border-radius: 100%;
    margin-top: -52.5px;
    box-shadow: 3px 3px 5px gray,-3px -3px 5px gray;
}

.videofr{
    width: 90%;
    height: 600px;
    background-color: #1a1a1a;
}

#activities{
    width: 710px;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 300px;
    border: 2px solid gray;
    border-bottom: none;
    border-radius: 10px;
}

#activities::-webkit-scrollbar{
    width: 20px;
}

#activities::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}


#activities::-webkit-scrollbar-thumb{
    background: #00aaff; 
    border-radius: 10px;
}

#activities::-webkit-scrollbar-thumb:hover{
    background: #00aaff; 
}

.container{
    display: flex;
    justify-content:flex-start;
    gap: 50px;
    height: 300px;
}

.container .col-lg-4{
    flex: 1 0 21%;
    margin-bottom: 20px;
}

.custom-card{
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 250px;
    height: 245px;
    margin: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 3px 3px 5px gray,-3px -3px 5px gray;
}

.custom-card:hover{
    transform: translateY(-5px);
}

.custom-card .badge{
    background-color: black;
    color: white;
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 15px;
}

.card-img{
    width: 250px;
    height: 170px;
    display: block;
    border-radius: 5px;
}

.card-body{
    padding: 10px;
    color: #ffffff; 
}

.card-body h3{
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0 0;
    color: white;
}

.custom-cardd{
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 250px;
    height: 240.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 3px 3px 5px gray,-3px -3px 5px gray;
}

.custom-cardd:hover{
    transform: translateY(-5px);
}

footer{
    text-align: center;
    padding: 20px 0;
    background: #1a1a1a;
    font-size: 14px;
}

footer a:hover{
    text-decoration: underline;
}

.semi{
    width: 50%;
    height: 145px;
    float: inline-start;
    text-align: center;
    border-right: 3px solid gray;
    margin-left: 40px;
}

.fsbmdiv{
    width: 45%;
    height: 145px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
}

.fsbm_cover{
    width: 200px;
    height: 70px;
    margin-top: 40px;
    background-color: white;
    border-radius: 10px;
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 20px;
}

.social-icon{
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icon img{
    width: 40px;
    height: 40px;
    margin-left: -2px;
    margin-top: -2px;
    border-radius: 50%;
}

.social-icon:hover{
    transform: scale(1.1);
}

.inscrire:hover{
    transform: scale(1.1);
}

footer p{
    color: #aaa;
}
