.activities-body{
    background: linear-gradient(to right, #191834, #2b2c68, #286a98, #26b7cd, #61bdaf);
    color: #333;
    line-height: 1.7;
    padding: 0;
    margin-left: 20px;
}

.activities-header{
    height: 280px ;
    background-color: #1E2A47;
    background: linear-gradient(to right, #191834, #2b2c68, #286a98, #26b7cd, #61bdaf);
    color: #fff;
    padding-top: 40px;
    text-align: center;
    box-shadow: 15px 15px 20px rgba(18, 110, 146,);
}

.activities-header h1{
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 5px;
    display: inline-block;
    color:#062441;
    padding-top: 50px;
    
}

.activities-lead{
    display: flex;
    justify-content: center;
    align-items: center;
}



.activities-header img{
    width: 120px;
    height: auto;
    display: inline-block;
    transition: transform 0.3s ease;
}

.activities-img:hover{
    transform: scale(1.1);
}

nav {
    height: 50px;
    padding-top: 0px;
    margin-bottom: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    float: right;
    margin-right: 50px;
    font-size: 15px;
}

nav a:hover {
    color: navy;
    border-bottom: 5px solid #11703d;
    font-size: 20px;
    transform: translateY(-10px);
}

.activities-main{
    width: auto;
    height: 1530px;
    overflow: hidden;
    position: relative;
}

.activities-h1{
    margin-top: 0px;
    margin-bottom: 40px;   
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.activities-good{
    width: max-content;
    height: 320px ;
    margin-top: 30px;
    margin-left: 0px;
    padding-top: 7.5px;
    overflow: visible;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.activities-box{
    height: 300px;
    width: 300px;
    margin-left: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray,-2px -2px 5px gray;
    align-items: center;
    justify-content: center;
    background-color:rgb(45, 166, 214);
    display: inline-block;
    position: relative;

    
}



.activities-box:hover{
    background-color: #1E2A47; /* Deep blue for hover */
    transform: translateY(-3px);
    box-shadow: 4px 8px 9px rgb(4, 50, 64);
    border-radius: 20px;
    box-shadow: 4px 8px 9px rgb(4, 50, 64);
}

.activities-box img{
    height: 180px;
    width: 292px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 10px;
    position: relative;
    transform: none;
}


.activities-ticket{
    height: 30px;
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 1px;
    text-align: center;
    background-color:rgb(45, 166, 214);;
    color: #f5f5f5;
    border-radius: 7px ;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 3px;
}

.activities-box h2{
    height: 100px;
    width: 295px;
    margin-top: 7.5px;
    text-align: center;
    font-size: 20px;
    color: black;
}


input[type="checkbox"]{
    display: none;
}

#activities-label1{
    cursor: pointer;
    margin-left: 25%;
    padding: 10px 20px;
    background-color: #3fbff0;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.activities-toggle{
    cursor: pointer;
    margin-left: 45%;
    padding: 10px 20px;
    background-color: #3fbff0;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

#activities-toggle[type="checkbox"]:checked.activities-rr ~ div.activities-good{
    transform: translateX(-1120px);
}

.activities-a{
    text-decoration: none;
}


footer {
    background-color: black;
    color: #00e5ff;
    text-align: center;
    padding: 20px 0 ;
    width: 99%;
    margin-top: 0;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer p{
    margin-bottom: 15px;
}
footer a {
    color: #11703d;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: #61bdaf;
}

@keyframes slidedown{
  50% {transform:scale(2,2);}
}

#activities-h3 {
    text-align: center;
    margin: 10px 10px;
}

.activities-img1 {
    float: right;
    width: 450px;
    height: 300px;
}

.activities-img2 {
    float: right;
    width: 500px;
    height: 350px;
}

.activities-hp {
    width: 600px;
    line-height: 30px;
    margin-top: 10px;
}

.activities-div2 {
    display: block;
}

.activities-div1 {
    display: flex;
}

.activities-h2 {
    color :#f5f5f5;
    margin-bottom: 50px;
    margin-left: 20px; 
    text-indent: 30px;
    width: 780px;
    line-height: 40px;
}

.activities-span {
    color: black;
}
 
.activites-titre1 {
    color:black;
    font-size: 25px;
   
}

.activities-images {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    gap: 150px; /* Space between images */
    margin-left: 20px; /* Space between paragraph and images */
}

#activities-ea{
    text-align: center; /* Center the text itself */
    font-size: 40px; /* Adjust size as needed */
    color:black;/* Example color */
    margin-bottom: 70px;
    border: 11px solid #191834;
    border-radius: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.activities-h1 {
    border: 10px solid #191834;
    color:black;
    font-size: 35px;
    border-radius: 50px;
    margin-left: 150px ;
    margin-right: 150px;
    
}

.activities-box h2{
    font-size: 20px;
    line-height: 1.2;
    padding: 5px;
    white-space: normal;
    word-wrap: break-word;
}