.tnx{
    margin-top: 100px;
    text-align: center;
    background: #1c3b57;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 229, 255, 0.3);
}
.tnx h1 {
    font-size: 48px;
    color: #00e5ff;
    margin-bottom: 20px;
}
.tnx p {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
.buttom {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #1c3b57;
    background-color: #00e5ff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.buttom:hover {
    background-color: #00bcd4;
    transform: scale(1.1);
}